@import "tailwindcss";
table{
  width: 80%;
  border-collapse:collapse;
  margin: auto;
  margin-top: 30px;
}

th{
  padding: 12px; 
  border: 1px solid gray;
  text-align: start;
}
td{
  padding: 12px; 
  border: 1px solid gray;
  font-size: 20px;
}

